:global(#app) {
	.footer {
		background-color: #02122c;
		padding-left: 10vh;
		padding-right: 10vh;
		margin-top: 100px;
		height: 35em;
		margin-left: 0px;
		width: 145em;
		margin-bottom: 40px;
    padding-left: 45vh;
    padding-right: 45vh;
    

	}
  .headerF{
    
    margin-left: 50px;
    margin-top: 40px;
    font-size: 25px;
    color: red;
    font-weight: 600;
  }
  .headerOpts{
    color: #fff;
    margin-left: 50px;
    margin-top: 20px;
  }
}
