:global(#app) {
	.row1 {
		height: max-content;
		padding: 0px;
	}
	.backImg {
		background-image: url("https://content.skyscnr.com/m/785bdfcbe683606c/Large-Flights-hero-2.jpg?crop=1800px:1375px&quality=60");
		min-height: 56vh;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.spColumn {
		top: 100px;
	}
	.text1 {
		line-height: 1.2;
		font-size: 55px;
		font-weight: 600;
		color: #fff;
	}
	.filterRow {
		margin-top: 80px;
	}
	//====================================
	.row2 {
		margin-top: 50px;
		padding-left: 43vh;
		padding-right: 43vh;
	}
	.options {
		display: inline-flex;
		vertical-align: middle;
	}
	.imgIconOptions {
		float: left;
	}
	.textOptions {
		float: right;
	}

	//=================accordion====
	.row3{

	}
	
	//=======================================
	.row4 {
		padding-left: 10vh;
		padding-right: 10vh;
		margin-top: 100px;
		background-color: #f1f2f8;
	}
	.row3Column1 {
		// margin-left: 48vh;
		// margin-right: 48vh;
	}
	.bestFlightHeader {
		display: block;
		font-size: 35px;
		font-weight: 500;
	}
	.bestFlightText {
		font-size: 17px;
		margin-top: 20px;
	}

	.img2row {
		margin-top: 30px;
		img {
			margin-left: 100px;
		}
	}
	.imgText1,
	.imgText2,
	.imgText3 {
		text-align: center;
	}
	.imgText1 {
		margin-top: 10px;
	}
	.imgText2 {
		margin-top: 30px;
	}
	.imgText3 {
	}

	.textHeadImg1 {
		font-size: 20px;
		font-weight: 600;
		display: block;
	}
}
