:global(#app) {
  .filterHotels {
		height: 15em;
		margin-top: 10px;
		background-color: #111236;
		color: #fff;
		border-radius: 3px;
			border: 2px solid red;
	}
	.title{
		background-color: #fff;
	}
	.test13{
		height: 20em;
		background-color: #fff;
	}
	.myslider{
		border: none
		;
	}
}