/** @format */

:global(#app) {
  .filter {
    background-color: #111236;
    color: #fff;
    border-radius: 3px;
  }

  .radioBtnGroup {
    text-align: center;
    margin-top: 2%;
    .filterGroup {
      margin-left: 1%;
      display: inline;
      font-size: 17px;
    }
    .radioLabel {
      margin-left: 1%;
    }
    label {
      // display: block;
      color: #fff;
      // font-size: 0.75rem;
      font-weight: 700;
      line-height: 1rem;
    }
  }

  .findBtn1 {
    border-radius: 0.375rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #00a698;
    padding: 0.8rem 1rem;
    color: #fff;
    width: 100%;
    margin-left: 0;
  }

  .dropdown {
    width: 100%;
  }

  .block {
    display: flex;
    align-items: end;
  }

  .label {
    margin-bottom: 0;
  }

  .scrolabelContainer {
    max-height: 150px;
    width: 87%;
    border-radius: 3px;
    overflow-y: auto;
    overflow-x: none;
    position: absolute;
    background-color: #fcfcfc;
    color: #111236;
    list-style: none;
    z-index: 1;
  }

  .item {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(183, 181, 181, 0.727);
  }
  .item:hover {
    background-color: #9d8282;
    transition: 0.5s;
  }
}
