/** @format */

:global(#app) {
  .flightsvg {
    // border: 2px solid black;
    // padding-top: 12px;
    // float: right;
    height: 15px;
    width: 15px;
  }
  .row1 {
    // margin-top: 5px;
    // border: 2px solid green;
    // display: flex;
    // justify-content: space-between;

    // align-items: baseline;
    .flightTo,
    .flightFrom {
      font-size: 20px;
      color: rgb(12, 12, 12);
    }
    .f {
      //   display: flex;
    //   border: 1px solid black;
      .divider {
        // float: left;
        height: min-content;
        border-bottom: 2px solid rgb(103, 103, 103);
        // width: 150px;
        display: inline-flex;
      }
      .time_flight {
        // border: 1px solid red;
        // overflow: hidden;
        // display: flex;
        // margin-left: 50px;
        // justify-content: center;
      }
    }
  }
  .row2{
    
    .animate{
        border:1px solid red;
    }
  }
}
