:global(#app) {
	.header {
		margin-left: 40vh;
		margin-right: 40vh;
		padding-top: 25px;
	}
	.headerRow {
		padding-left: 5vh;
		padding-right: 5vh;
	}
	.logo {
		font-size: 25px;
		font-weight: 700;
		color: #0770e3;
	}
	.groupBtn1 {
		.help {
			margin-top: 8px;
		}
		.settingsBtn {
			.settings {
				height: 3em;
				font-size: 12px;
				border-radius: 8px;
			}
		}
		.login {
			// margin-top: 10px;
			font-weight: 600;
			color: rgb(0, 0, 0);
			border-radius: 8px;
		}
		.login1 {
			margin-top: 10px;
			font-weight: 600;
			color: rgb(0, 0, 0);
			border-radius: 8px;
		}
	}
	.flightsBtn {
		background-color: #0770e3;
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		&:hover {
			background-color: #022a55;
		}
	}
}
