:global(#app) {
	.header {
		height: 5em;
		background-color: #042759;
		margin-left: 48vh;
		margin-right: 50vh;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		.headerleft {
			display: flex;
		}
		.searchbtn {
			color: white;
			background-color: green;
			border-radius: 50%;
			height: 3em;
			width: 3em;
			padding: 0 0 0 10px;
			float: left;
		}
		.searchparams {
			display: block;
			color: #f1f2f8;
			font-size: 15px;
			span {
				display: block;
			}
		}
		.datePicker {
			float: right;
		}
	}
	.header1 {
		margin-top: -20px;
		height: min-content;
		background-color: #042759;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		margin-left: 48vh;
		margin-right: 50vh;

		.radioBtnGroup {
			margin-top: 15px;
			margin-left: -5px;
			.filterGroup {
				margin-left: 10px;
				display: inline;
				font-size: 17px;
			}
			.radioLabel {
				margin-left: 10px;
				color: #f1f2f8;
			}
		}

		.inputGroup1 {
			margin-top: -15px;
			label {
				display: block;
				color: #fff;
				font-size: 0.75rem;
				font-weight: 700;
				line-height: 1rem;
			}
			.form1,
			.form2 {
				min-width: 52.5vh;
				padding: 0;
				font-weight: 700;
				input {
					min-height: 3em;
					border-radius: 0;
				}
			}
			.form1 {
				margin-left: 10px;

				input {
					border-top-left-radius: 3px;
					border-bottom-left-radius: 3px;
				}
			}
			.form2 {
				input {
					border-top-right-radius: 3px;
					border-bottom-right-radius: 3px;
				}
			}
			.changeBtn {
				border: none;
				background-color: #fff;
				background-image: url("../../static/changeArrow.svg");
				background-size: cover;
				margin-top: 18px;
				min-width: 3em;
				max-height: 3em;
			}
		}

		.inputGroup2 {
			margin-top: 10px;

			.labelGroup1,
			.labelGroup2 {
				margin-top: -30px;

				.label1,
				.label2,
				.label3 {
					color: #fff;
					cursor: pointer;
					margin-left: 5px;
					span {
						margin-left: 3px;
					}
				}
				.label2 {
					margin-left: 10px;
				}

				.label3 {
					margin-top: 20px;
					width: 180px;
					display: inline-flex;
					color: #fff;
					cursor: pointer;
				}
			}
			.lowformgroup {
				margin-top: 10px;
				margin-bottom: -60px;
				.form3,
				.form4 {
					width: 16em;
					label {
						color: #fff;
					}
				}
			}

			.dropdownGroup {
				margin-top: 23px;
				color: #fff;
			}
			.form4 {
				margin-left: 35px;
			}

			.form5 {
				display: block;
			}
		}
	}
	.findBtn {
		display: block;
		border-radius: 0.375rem;
		font-size: 1.5rem;
		line-height: 1.875rem;
		font-weight: 700;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		background-color: #00a698;
		padding: 0.8rem 1rem;
		margin: 0;
		width: 10em;
		float: right;
		color: #fff;
		margin-bottom: 20px;
	}
}
