:global(#app) {
	.row1 {
		height: max-content;
		padding: 0px;
	}
	.backImg {
		background-image: url("https://content.skyscnr.com/m/785bdfcbe683606c/Large-Flights-hero-2.jpg?crop=1800px:1375px&quality=60");
		min-height: 56vh;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.spColumn {
		// top: 100px;
		padding: 0;
		text-align: left;
	}
	.text1 {
		line-height: 1.2;
		font-size: 55px;
		font-weight: 600;
		color: #fff;
	}

	.innerblockfilter {
		margin-left: 46vh;
		margin-right: 46vh;
		margin-top: 60px;
		// text-align: left !important;
	}

	.filterRow {
	}
	//====================================
	.row2 {
		margin-top: 50px;
		padding-left: 43vh;
		padding-right: 43vh;
	}
	.options {
		display: inline-flex;
		vertical-align: middle;
	}
	.imgIconOptions {
		float: left;
	}
	.textOptions {
		float: right;
		font-weight: 600;
	}

	//=================accordion====
	.row3 {
	}

	//=======================================
	.row4 {
		padding-left: 10vh;
		padding-right: 10vh;
		margin-top: 100px;
		background-color: #f1f2f8;
	}

	.bestFlightHeader {
		display: block;
		font-size: 35px;
		font-weight: 500;
		font-weight: 600;
	}
	.bestFlightText {
		font-size: 17px;
		margin-top: 20px;
	}

	.img2row {
		margin-top: 30px;
		img {
			margin-left: 100px;
		}
	}
	.imgText1,
	.imgText2,
	.imgText3 {
		text-align: center;
	}
	.imgText1 {
		margin-top: 10px;
	}
	.imgText2 {
		margin-top: 30px;
	}
	.imgText3 {
	}

	.textHeadImg1 {
		font-size: 20px;
		font-weight: 600;
		display: block;
	}

	//======row5=========
	.row5 {
		margin-top: 100px;
		padding-left: 50vh;
		padding-right: 50vh;
	}
	.row5p1 {
		// border: 2px solid red;

		.headRow5p1 {
			font-size: 30px;
			display: block;
			font-weight: 600;
			margin-bottom: 20px;
		}
		.subRow5p1 {
			font-size: 16px;
		}
	}

	.row5p2 {
		margin-top: 30px;
		.row5p2Col1 {
			.headRow5p2,
			.head2Row5p2 {
				font-size: 18px;
				font-weight: 500;
				span {
					margin-left: 20px;
				}
			}
			.subRow5p2v1 {
				margin-left: 45px;
				line-height: 1.9;
				font-size: 15px;
			}
		}
	}

	.card {
		margin-top: 80px;
		border: 1px solid #bbb9b9;
		border-radius: 3px;
		width: fit-content;
		// height: max-content;
		height: 16.4em;
		padding-left: 5vh;

		.cardHeader {
			margin-top: 20px;
			font-size: 25px;
			font-weight: 500;
		}
		.cardSubText {
			margin-top: 20px;

			font-size: 16px;
		}
		.cardImg {
			margin-left: 15px;
			// margin-top: px;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}

		.cardInput {
			border: 1px solid #bbb9b9;
			height: 3rem;
			font-size: 1rem;
			width: 28em;
			border-radius: 4px;
		}
		.subText {
			margin-top: 25px;
			font-size: 14px;
		}
	}

	.row6 {
		margin-top: 100px;
		padding-left: 47vh;
		padding-right: 47vh;
		.headerRow6 {
			font-size: 35px;
			font-weight: 400;
		}
		.subRow6 {
			margin-top: 35px;
			font-size: 19px;
		}
		.buttonGroup {
			display: flex;
			margin-top: 30px;

			button {
				height: 4em;
				border-radius: 30px;
			}
			:hover {
				background-color: #0770e3;
				color: #fff;
				transition: 0.5s;
			}
		}
		.linkGroup {
			margin-top: 20px;
		}
		.links {
			margin-top: 30px;
		}
	}
}
