:global(#app) {

  .formCountry{
    // border: 2px solid red;
  }
  .form{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    // border:2px solid green;
    // background-color: aqua;
    .fbutton{
      // width: 19vh;
    // margin-top: 1.5em;
    }
  }
  

}